<h1>List of Employees</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Department</th>
    <th>Extension</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.f_name %></td>
    <td><%= employee.l_name %></td>
    <td><%= employee.department.title %></td>
    <td><%= employee.ext %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
