<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @writeup.employee.full_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @writeup.bio %>
</p>


<%= link_to 'Edit', edit_writeup_path(@writeup) %> |
<%= link_to 'Back', writeups_path %>
